@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
:root {
   --primary-color:#0c5461;
   --dark-color: #0c5462
   --off-white: #808080
}
body{
    font-family: 'Poppins', sans-serif;
}
.container {
    padding-left: 1rem;
    padding-right: 1rem;
}
.Container-center {
    max-width:600px;
    margin:auto
    
}
.links{
    text-decoration:none;
    padding: 0.5rem 1rem
}
.links-primary{
    background-color: var(--primary-color);
    border-radius:0.5rem;
    color: white
}
.links-secondary{
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 10px solid var

    (--primary-color);
}
.list-non-bullet{
    list-style : none;
}
.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

.navigation .nav-First-Website{
    font-weight: bold;
    font-size: 1.1rem;
}
.navigation{
    background-color: var(--primary-color);
    color:white;
    padding: 1 rem;
    border-bottom-left-radius: 1rem;
    text-align: Center
    border-bottom-left-radius
}
.navigation .links{
    color:white;
}
.navigation .link-active{
 font-weight:bold;
}

.hero{
    padding: 2 rem;
    text-align:center
}
.hero .hero-img{
    max-width:350px;
    display:block;
    margin:auto;
}
.hero .hero-heading .heading-inverted{
    padding-top:1rem;
    color: var(--dark-color)
}
.section{
    text-align:center;
}

.ow {
    background-color: var(--off-white);
}

footer{
    background-color:var(--primary-color);
    padding:2rem;
    text-align:center


}
.footer .list-item-inline{
    color:white
}