@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
:root {
   --primary-color:#00008b;
   --dark-color: #b9b8b84d;
   --off-white: #ffffffa4;
}
body{
    font-family: 'Poppins', sans-serif;
}
.container {
    padding-left: 1rem;
    padding-right: 1rem;
}
.Container-center {
    max-width:600px;
    margin:auto
    
}
.links{
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
  }
.links-primary{
    max-width: 140px;
    padding: 3px 9px;
    background-color: var(--primary-color);
    color: #fff;
    margin: 1rem auto;
    border-radius: 2rem;
    text-decoration: none;
    font-weight: normal;
  }
.links-secondary{
    max-width: 140px;
    margin: 1rem auto;
    padding: 3px 9px;
    border-radius: 2rem;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    text-decoration: none;
}
.list-non-bullet{
    list-style : none;
}
.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

/**Navigation**/

.navigation{
    max-width: 1100px;
    margin:auto;
    background-color: var(--primary-color);
    padding:1px 2px;
    color:white;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.navigation .web-developer{
    padding: 10px 10px;
    font-weight: bold;
    font-size: 1.1rem;
} 
.navigation .links{
    color:white;
}
.navigation .link-active{
 font-weight:bold;
}
.navigation .list-non-bullet{
    text-align: right;
}

/**Header**/

.header{
    padding:1rem;
    text-align:center
}
.header .header-img{
    width: 100%;
    max-width: 700px;
    height: auto;
}
.header .header-heading{
    background-color: var(--primary-color);
    padding:0.5rem 0.5rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.5rem 0.5rem;
    max-width: 1100px;
    font-family:sans-serif;
    font-weight:bold;
    color: rgba(228, 228, 228, 0.514);

}
.header .header-heading .header-heading-inverted{

    padding-top:1rem;
    color:white;
}

/*Section*/

.section{
    padding: 0.2rem 0.2rem;
    background-color: var(--dark-color);
    text-align:center;
    max-width: 900px;
    margin-top:2rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right:auto;
    border-radius: 0.5rem 0.5rem;
}
.section .display{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.section-white{
    padding:0.1rem;
    background-color:white;
    text-align:center;
    max-width: 900px;
    margin-top:auto;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right:auto;
    border-radius: 0.2rem 0.2rem;
}
.section .section-white{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.section-white .display-white{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/*foote*/

.footer{
    background-color:var(--primary-color);
    max-width: 900px;
    margin: auto;
    text-align: center;
    border-top-right-radius:1rem;
    border-top-left-radius:1rem;

}
.footer .footer-header{
    color:white;
    font-size: 20px;

}
.footer .link{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

/*Blog page header*/

.header-heading{
    background-color: var(--primary-color);
    padding:0.5rem 0.5rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.5rem 0.5rem;
    max-width: 900px;
    font-family:sans-serif;
    font-weight:bold;
    color:white
}
.section-blog {
    padding: 1rem 0.2rem;
    background-color: var(--dark-color);
    text-align:center;
    max-width: 900px;
    margin:3rem auto;
    border-radius: 0.5rem 0.5rem;
}
/*Bolg Format*/
.Front{
    padding: 0.2rem 0.2rem;
    text-align:justify;
    max-width: 800px;
    margin-top:2rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right:auto;
    border-radius: 0.5rem 0.5rem;
    font-size: 20px;
}
.Front .Bold{
    text-align: center;
}
.Para{
    color: var(--primary-color);
}